.container {
    .header {
        margin: 40px 70px;

        @media (max-width:50em) {
            margin: 27px;
        }
    }

    .cardContainer {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 10px auto;

        .marginAuto {
            margin: auto;
        }

        @media (max-width:50em) {
            grid-template-columns: auto;
        }
    }

}