.container {
    .center{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header {
        margin: 40px 70px; 
        @media (max-width:50em) {
            margin: 27px;
        }
    }
    .mx10{
        margin: 0px 70px;
        @media (max-width:50em) {
            margin: 2px;
        }
    }

    .cardContainer {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 10px auto;

        .marginAuto {
            margin: auto;
        }

        @media (max-width:50em) {
            grid-template-columns: auto;
        }
    }

}